.reader-frame {
    background-color: @theme_bg_color;
}

.success {
    background-color: #79FF79;
}

.fail {
    background-color: #FF5151;
}

.attempt-item {
    border-bottom: solid @theme_bg_color 1px;
}

.reader {
    border-left: solid darker(@theme_bg_color) 1px;
    border-right: solid lighter(@theme_bg_color) 1px;
}

.last-code-frame {
    border-bottom: solid darker(@theme_bg_color) 1px;
    border-top: solid lighter(@theme_bg_color) 1px;
}